* {
    max-width: 980px;
    margin: auto;
}
article {
    padding: 20px;
    margin: 20px 0px;
    border: 2px solid grey;
    border-radius: 8px;
}
header {
    background-color: yellow;
    font-family: fantasy;
}
footer {
    background-color: black;
    color: white;
    font-family: cursive;
}
article:hover {
    border: solid black;
}