.np {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: red;
}
.name {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: blue;
}