@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 90%;
    margin: auto;
}

/* header */

a {
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 10px;
    background-color: #000000;
    font-size: 20px;
    position: fixed;
    z-index: 1;
}

.logo {
    margin-left: 5%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.logo_header {
    display: flex;
    margin: 10px 20px;
}

.main_nav {
    display: flex;
    float: right;
    margin: 20px;
    justify-content: space-between;
    list-style: none;
}

.main_nav li:hover {
    background-color: gray
}

.main_nav li {
    display: inline;
    color: #ffffff;
    margin: 0 20px;
}

.main_nav li a {
    color: #ffffff;
}

.navbar_toggle {
    display: none;
}

/* main */

.main {
    position: relative;
    top: 80px;
    margin-top: 20px;
    width: 90%;
    z-index: 0;
}

blockquote {
    opacity: 75%;
}
.ab {
    position: fixed;
    bottom: 10px;
    right: 15px;
}
#img {
    border: 1px solid black;
    border-radius: 10px;
}

h2 {
    background-color: black;
    color: white;
    width: 130px;
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
h2:hover {
    background-color: grey;
}

section,
table {
    padding: 30px 25px;
}
h1 {
    display: inline-block;
    color: blue;
}

img {
    bottom: 10px;
    right: 15px;
}

ul>ol>li {
    margin: 1px 20px;
}

@media (max-width: 600px) {
    body {
        width: 90%;
    }

    h1 {
        font-size: 12px;
    }
}


@media only screen and (max-width : 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #000000;
        font-size: 20px;
    }

    .main_nav {
        display: none;
    }

    .show_nav {
        padding-top: 2%;
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    .main_nav li {
        width: 100%;
        height: 50px;
        font-size: 25px;
        justify-content: center;
        text-align: center;
        padding: 0%;
    }

    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }

    .logo_header {
        width: 90%;
        justify-content: space-between;
        margin-right: 2%;
    }
}