@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo_header h1 {
  font-size: 24px;
}

.main_nav {
  list-style: none;
  display: flex;
}

.main_nav li {
  margin-left: 20px;
}

.main_nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main_nav li a:hover {
  color: #ffd700; /* Change color on hover */
}

.main {
  margin-top: 80px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Heading color */
}

footer {
  margin-top: 40px;
  background-color: #333;
  color: #fff;
  padding: 30px;
  font-size: 18px;
}

footer h2 {
  margin-bottom: 10px;
  color: #ffd700;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .container > div {
  width: 30%; /* Adjust as needed */
}

footer .container > div p {
  margin-bottom: 10px;
}

footer .right-column {
  text-align: right;
}

.navbar_toggle {
  display: none;
}

.instagram_link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.instagram_link img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.skills_list {
  list-style-type: none;
}

.skills_list li {
  margin-bottom: 15px;
}

.skills_list ul {
  list-style-type: square;
  margin-left: 20px;
}

/* Styles for the table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: center; /* Center vertically */
}

.left-side {
  width: 45%;
}

.left-side img {
  max-width: 100%;
  height: auto;
}

.right-side {
  width: 50%;
  padding-left: 10px;
}

.certifications_list {
  list-style: none;
  padding: 0;
}

.certifications_list li {
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add border for each certification */
  padding: 10px;
  font-size: 24px;
}

.certifications_list li p {
  margin-bottom: 5px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
  }

  .main_nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .main_nav.show_nav {
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .main_nav li {
    margin: 10px 0;
  }

  .navbar_toggle {
    display: block;
    font-size: 24px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .container {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .navbar {
    padding: 10px;
  }
  footer .container > div {
    width: 100%;
  }
}
