
img {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border: 20px solid red;
}
#second {
    border: 20px solid yellow;
    width: 140px;
    height: 140px;
    border-radius: 90px;
}
#first {
    border: 20px solid red;
    width: 180px;
    height: 180px;
    border-radius: 110px;
}