
h2 {
      background-color: lightblue;
    color: black;
    position: sticky;
    top: 5px;
}
img {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 15px;
    right: 10px;
}
h2:hover {
    background-color: blue;
}